body{
    background-color: black;
    margin:0;
    height: 100vh;
    overflow:hidden;
}

span{
    background:url("https://cdn4.iconfinder.com/data/icons/small-n-flat/24/heart-1024.png");
    width:100px;
    height:100px;
    position: absolute;
    background-size: cover;
    pointer-events:none;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    animation: animate 6s linear;
}

@keyframes animate {
    0% {
        opacity: 1;
        transform: rotate(45deg) scale(1);
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) scale(0);
    }
}